{% extends 'basic.html' %}

{% block title %}Veg2Fresh{% endblock %}

{% block body %}

<div class="container my-1"></div>
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
{% load static %}
      <img src="{% static 'veg.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2 style="color: yellow;">The Fresh Vegetables</h2>
          <p style="color: yellow;">Fresh Vegetables Anytime Anywhere</p>
        </div>
      </div>
      <div class="carousel-item">
{% load static %}
      <img src="{% static 'veg1.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2 style="color: yellow;">The Fresh Vegetables</h2>
          <p style="color: yellow;">Fresh Vegetables Anytime Anywhere</p>
        </div>
      </div>
      <div class="carousel-item">
{% load static %}
      <img src="{% static 'veg2.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2 style="color: yellow;">The Fresh Vegetables</h2>
          <p style="color: yellow;">Fresh Vegetables Anytime Anywhere</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<div class="jumbotron">
  <h1 class="display-4">Welcome to Veg2Fresh</h1>
  <p class="lead">
    This is a simple hero unit, a simple jumbotron-style component for calling
    extra attention to featured content or information.
  </p>
  <hr class="my-4" />
  <p>
    It uses utility classes for typography and spacing to space content out
    within the larger container.
  </p>
  <a class="btn btn-primary btn-lg" href="/shop" role="button">Go To Shop</a>
  <a class="btn btn-primary btn-lg" href="/blog" role="button">Go To Blog</a>
</div>



{% endblock %}
